.container{
    width: 80%;
    padding: 10px;
}
.content{
    width: 100%;
    height: 49px;
    border-bottom: 0.5px solid #B3B3B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color:#333;
        &:hover{
            color:#5C8018;
        }
    }
}
.info{
    width: 100%;
    display: flex;
    .leftInfo{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .leftcontent{
            width: 50%;
            margin-top: 10%;
           display: flex;
           flex-direction: column;
           align-items: center;
           gap:33px;
            .Name{
            display: block;
            width: 100%;
            height: 58.33px;

        }
        }
        
        
    }
    .rightInfo{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 50%;
            height: 327px;
             object-fit: cover;
        }
    }
}
@media (max-width: 576px) {
    .container{
        width: 100%;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rightInfo{
        margin-top: 50px;
    }

}  

@media (min-width: 577px) and (max-width: 768px) {
 
}

@media (min-width: 769px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1200px) {

}