.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    h2 {
        text-align: center;
        padding: 10px 0;
    }
    .btnAddVoucher {
        text-align: right;
        padding: 10px 20px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 380px;
        .btnAddVoucher {
            text-align: center;
        }
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}
