.title{
  width: 100%;
  display: flex;
  flex-direction: column;

  .banner{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 0.5px solid #B3B3B3;
    width: 100%;
  }
  .menu{
     padding:10px;
    display: flex;
      border-bottom: 0.5px solid;
    .infomenu{
      display: flex;
      width: 40%;
      margin-left: 20px;
      justify-content: space-between;
        align-items: center;

    }
    .infoendmenu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
    }
  }
}
a{
text-decoration: none;
  color: inherit; 
  cursor: pointer; 
}
.itemManager{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    gap:2%;
    padding:10px;
    font-size: 1.6rem;
    border-bottom: 0.5px solid #B3B3B3;
    
    .imgAvatar{
        img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
       
    } 
    .info{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }
    
    .infoend{
        display: flex;
        gap:5%;
        align-items: center;
        width: 55%;
        .display{
          width: 50%;
        }

        .user{
            width: 100%;
            color:White;
            background-color:#5C8018;
            padding:10px;
            display: flex;
            justify-content: center;
            border-radius: 8%;
        }
        .sell{
            width: 100%;
            color:White;
            background-color:#E81F1F;
            padding:10px;
            display: flex;
            justify-content: center;
            border-radius: 8%;
        }
        .block{
            width: 100%;
            color:White;
            background-color:#B3B3B3;
            padding:10px;
            display: flex;
            justify-content: center;
            border-radius: 8%;
        }

    }
  .icon{
    width: 50%;
    display: flex;
    align-items: center;
     gap:2%;
    .status{
            width: 35%;
            display: flex;
            justify-content: center;
            
        }
        .iconaction{
          display: flex;
          width: 50%;
          align-items: center;
         justify-content: center;
               
          .iconEye {
          font-size: 2.2rem;
          cursor: pointer;

          &:hover {
            color: #007bff; // xanh khi hover
          }
        }

        .delete {
          font-size: 2.2rem;
          cursor: pointer;

          &:hover {
            color: red; // đổi sang đỏ khi hover
          }
      }
        }
  }
    

}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    z-index: 1001;
}
@media (max-width: 576px) {
  .title{
    .menu{
      .infomenu{
           p:nth-child(2) {
        display: none; // ẩn email với user
      }
      }
    }
    .infoendmenu{
      .address{
         width: 50%;
         display: flex;
         justify-content: center;
      }
      }
  }
  .itemManager{
  .info{
    width: 30%;
      p:nth-child(2) {
        display: none; // ẩn email với user
      }
  }
  .infoend{
    width: 60%;
     .display{
          width: 50%;
        }
        .icon{
          width: 50%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:10px;
               .iconaction{
                 width: 100%;
             
              }
                 .status{
                  width: 100%;
                }
        }

  }
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .title{
    .menu{
      .infomenu{
           p:nth-child(2) {
        display: none; // ẩn email với user
      }
      }
     
    }
  }
  .itemManager{
  .info{
        width: 25%;

      p:nth-child(2) {
        display: none; // ẩn email với user
      }
  }
  .infoend{
    width: 70%;
     .display{
          width: 50%;
        }
        .icon{
          width: 40%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:10px;
               .iconaction{
                 width: 100%;
             
              }
                 .status{
                  width: 100%;
                }
        }

  }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
   .title{
    .menu{
      .infomenu{
         width: 50%;
         justify-content: space-between;
      }
      
     
    }
    .infoendmenu{
      .address{
         width: 50%;
         display: flex;
         justify-content: center;
      }
      }
     
    }
  .itemManager{
    .info{
        width: 70%;
  }
  .infoend{
     .display{
      width: 50%;
        }
        .icon{
          width: 50%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:10px;
               .iconaction{
                 width: 100%;
             
              }
                 .status{
                  width: 100%;
                }
        }

  }
}
}
@media (min-width: 993px) and (max-width: 1200px) {
    .title{
    .infoendmenu{
      .address{
         width: 50%;
         display: flex;
         justify-content: center;
      }
      }
     
    }
  .itemManager{
  .infoend{
     .display{
      width: 40%;
        }
        .icon{
          width: 40%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:10px;
               .iconaction{
                 width: 100%;
             
              }
                 .status{
                  width: 100%;
                }
        }

  }
}
}
