.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    border-radius: 4px;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    &.disabled {
        background-color: gray;
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

.primary {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        opacity: 0.8;
    }
}

.outline {
    color: var(--primary);
    border: 3px solid var(--primary);

    &:hover {
        background-color: var(--primary);
        color: white;
    }
}

.text {
    background: none;
    color: red;
    border: none;
    font-size: 1.8rem;

    &:hover {
        color: var(--primary);
    }
}

.small {
    padding: 4px 12px;
}

.large {
    padding: 14px 20px;
}
