.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    border-radius: 4px;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--white);
    border: 2px solid transparent;
    user-select: none;

    &.disabled {
        background-color: gray;
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

.primary {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        opacity: 0.8;
    }
}

.outline {
    min-width: 186px;
    color: var(--primary);
    border: 2px solid var(--primary);

    &:hover {
        background-color: var(--primary);
        color: white;
    }
}

.text {
    background: none;
    color: red;
    border: none;
    font-size: 1.8rem;

    &:hover {
        color: var(--primary);
    }
}

.small {
    min-width: 100px;
    font-size: 1.6rem;
    padding: 8px 26px;
}

.large {
    padding: 12px 50px;
}

@media (max-width: 576px) {
    .text {
        font-size: 1.4rem;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .primary {
        font-size: 1.4rem;
    }
}
