.chat-container {
    position: fixed;
    bottom: 80px;
    right: 60px;
    z-index: 9999;

    .chat-toggle {
        background-color: var(--primary);
        color: white;
        border: none;
        border-radius: 50%;
        padding: 15px;
        font-size: 2rem;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .chat-box {
        width: 320px;
        height: 440px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .chat-header {
            background-color: var(--primary);
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .iconClose {
                cursor: pointer;
            }
        }

        .chat-body {
            flex: 1;
            padding: 10px;
            overflow-y: auto;
            background-color: #f9f9f9;

            .message-wrapper {
                display: flex;
                margin-bottom: 8px;

                &.user {
                    justify-content: flex-end;
                }

                &.bot {
                    justify-content: flex-start;
                }
            }

            .message {
                background-color: #acd264;
                padding: 8px 12px;
                border-radius: 8px;
                max-width: 80%;
                word-break: break-word;
                display: inline-block;
            }
        }

        .chat-input {
            display: flex;
            border-top: 1px solid #ddd;
            padding: 8px;

            textarea {
                flex: 1;
                resize: none;
                border: 1px solid #ccc;
                border-radius: 6px;
                padding: 8px;
                font-size: 1.4rem;
                outline: none;
                margin-right: 8px;
            }

            button {
                background-color: var(--primary);
                color: white;
                border: none;
                padding: 8px 12px;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 576px) {
    .chat-container {
        position: fixed;
        bottom: 100px;
        right: 30px;
    }
}
